*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    position: relative;
    background: #292929;
    color: white;
    font-family: "Cairo", serif;
}

/* general */

.heading{
    text-align: center;
    font-weight: 500;
    font-size: 3.5em;
}

.sub-heading{
    text-align: center;
    font-size: 1em;
    margin: 10px;
    opacity: 0.8;
}

.seperator{
    width: 30%;
    margin: 15px auto;
    position: relative;
}

.seperator::after{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: white;
}

.small-heading{
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
}

/* navbar */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background:#1f1f1f;
    padding: 1vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 8;
}

.logo{
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
}

.nav-links-container{
    display: flex;
    list-style: none;
}

.link{
    color: white;
    margin: 0 2vw;
    text-decoration: none;
    padding: 1vw;
    position: relative;
}

.link:hover{
    opacity: .8;
}

/* home */

.home{
    width: 100%;
    min-height: calc(100vh-50px);
    height: auto;
    margin-top: 50px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.home-content{
    width: 100%;
}

.home-heading{
    font-size: 6em;
    font-weight: 500;
}

.info{
    margin-bottom: 50px;
    padding-left: 30px;
}

.portrait-container{
    margin: 2vh 0 2vh 2vh;
}

.portrait-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4vh;
}

/* about */

.about{
    padding: 4vh 10vw;
    background-color:#4a4a4a;
}

.about-paragraph{
    text-indent: 4rem;
    font-size: 2rem;
    margin-top: 50px;
}

/* education */

.education{
    padding: 4vh 10vw;
}

.education-container{
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}

.collapsible{
    background: #4a4a4a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
}

.collapsible.completed{
    background: #498022;
}

.collapsible.inprogress{
    background: #224e80;
}

.collapsible.planned{
    background: #80223a;
}

.collapsible-content{
    padding: 10px 20px;
    font-size: 1.5rem;
    display: none;
    overflow: hidden;
    background: #1f1f1f;
    text-align: center;
    overflow-wrap: break-word;
}
.collapsible:after{
    content: '\02795';
    font-size: 20px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collactive:after{
    content: "\2796";
}

.spacer{
    margin: 20px;
}

.class-list{
    white-space: pre;
}

/* projects */

.projects{
    padding: 4vh 10vw;
    background-color: #4a4a4a;
}

.projects-note{
    text-align: center;
    font-size: 1.5rem;
}

.project-container{
    width: 100%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}

.project-card{
    position: relative;
    cursor: pointer;
    display: block;
    color: white;
    text-decoration: none;
}

.project-card:hover .card-content{
    opacity: 1;
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4vh;
}

.card-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 4vh;
    opacity: 0;
}

.project-name{
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
}



/* mobile view */
@media (max-width: 900px){
    html{
        font-size: 12px;
    }

    p, .sub-heading{
        font-size: 1.4rem;
    }

    .seperator{
        width: 70%;
        margin: 15px auto;
        position: relative;
    }
    
    .seperator::after{
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: white;
    }

    /* nav toggle */
    .toggle{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 10vw;
        cursor: pointer;
    }
    .toggle h2{
        position: absolute;
        width: 100%;
        height: 2px;
        background: white;
        top: 30%;
        transition: .5s;
    }
    .toggle h2:nth-child(2){
        top: 70%;
    }
    .toggle.active h2:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
    }
    .toggle.active h2:nth-child(2){
        top: 50%;
        transform: rotate(-45deg);
    }
    .toggle h2{
        position: absolute;
        width: 100%;
        height: 2px;
        background: white;
        top: 30%;
        transition: .5s;
    }
    .nav-links-container{
        position: absolute;
        top: 50px;
        background: rgba(31, 31, 31, 1);
        width: 100%;
        left: 0;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;
    }
    .nav-links-container.show{
        opacity: 1;
        pointer-events: all;
    }
    .link{
        margin-left: auto;
        text-align: center;
        display: block;
        height: 50px;
    }

    /* home section */
    .home{
        flex-direction: column-reverse;
        height: fit-content;
        padding-bottom: 50px;
    }
    .home-content{
        width: 70%;
        min-width: 350px;
        text-align: center;
    }
    .home-heading{
        font-size: 4.5rem;
    }
    .info{
        padding: 0;
    }

    /* about section */

    /* education section */
    .education-container{
        margin-top: 50px;
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2vw;
    }

    /* projects section */

    .project-container{
        width: 100%;
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .project-name{
        font-size: 3rem;
    }

    
}
